{% extends 'base.html' %}

{% block title %}
Home - Job Portal
{% endblock %}

{% block content %}
<section class="max-w-5xl mx-auto px-4 py-16 text-center">
        <h2 class="text-3xl font-bold text-gray-800 mb-4">
            Welcome to Job Portal
        </h2>
        <p class="text-gray-600 mb-8">
            Find jobs easily and build your career with us.
        </p>

        <div class="space-x-4">
            <button class="bg-blue-600 text-white px-6 py-2 rounded-md hover:bg-blue-700">
                Browse Jobs
            </button>
            <button class="bg-gray-300 text-gray-800 px-6 py-2 rounded-md hover:bg-gray-400">
                Post a Job
            </button>
        </div>
    </section>
{% endblock %}